body {
    background-color: #9D7CFF;
}
    .container {
        display: inline-block;
        width: 1000px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        border: 5px solid #141518;
    }
    header {
        border-bottom: 3px solid #EDEEEF;
        text-align: center;
        height: 60px;
    }
        .fa-times-circle {
            display: inline-block;
            float: left;
            color: #797A7C;
            text-decoration: none;
            margin: 10px;
        }
        .fa-chevron-circle-left, .fa-chevron-circle-right {
            display: inline-block;
            float: right;
            text-decoration: none;
            color: #B2B3B4;
            margin: 10px;
        }
        .fa-spotify {
            display: inline-block;
            text-decoration: none;
            color: #000000;
        }
        .logo {
            display: inline-block;
            text-decoration: none;
            color: #000000;
            font-size: 35px;
            font-weight: bold;
        }
    .row {
        display: inline-block;
        text-align: center;
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
        background-color: green;
        text-transform: uppercase;
        margin-top: 30px;
    }
        .blue-btn {
            display: inline-block;
            border-radius: 21px;
            background-color: #3B5998;
            padding: 10px;
            padding-left: 60px;
            padding-right: 60px;
            color: #F5F4EA;
        }

@media (max-width: 1000px) {
    .container {
        width: 800px;
        margin-left: calc((100% - 800px) / 2);
        background-color: red;
        text-align: center;
 
    }
}