body {
    background-color: #9D7CFF;
}
    .container {
        display: inline-block;
        width: 1000px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate( -50%, -50%);
        border: 5px solid #141518;
    }
        header {
            text-align: center;
            height: 100px;
            border-bottom: 3px solid red;
        }
            .fa-spotifye {
                display: inline-block;
                border-radius: 50%;
                line-height: 25px;
                height: 25px;
                width: 25px;
                background-color: #000000;
                color: #fff;
            }
            .logo {
                height: 50px;
                margin-top: 10px;
                text-decoration: none;
                font-size: 50px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #000000;
            }
            .fa-spotifye {
                font-size: 20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #fff;
                border-radius: 50%;
                line-height: 25px;
                height: 25px;
                width: 25px;
                background-color: #797A7C;
            }
            .fa {
                text-decoration: none;
                font-size: 20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: #fff;
                border-radius: 50%;
                line-height: 25px;
                height: 25px;
                width: 25px;
            }
            .fa-times-circle {
                float: left;
                margin: 10px;
                background-color: #797A7C;
                color: #fff;
            }
            .fa-chevron-circle-rightn {
                float: right;
                margin: 10px;
                background-color: #B2B3B4;
                color: #fff;
            }
